extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner HardKode
    div.Message
      div.Title
        h3 Making the Best from aleguerra05
        h1 HardKode Company Site 
      span.Details Access the HardKode Team Portal
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton User Profile
      else
        a(href="/login")
          div.NavButton Log in